<!doctype html>
<head>
    <title>Final Project for Coursera Course - Mapping Application</title>
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

	<style>
		html, body {
			height: 100%;
			margin: 0;
		}
		.leaflet-container {
			height: 400px;
			width: 600px;
			max-width: 100%;
			max-height: 100%;
		}
	</style>
</head>
<body>
    <div id="map" style="height:100%;width:100%;"></div>
    <script>
        var locations = [];
        var map;
        var update_location = true;

        function updateLocations() {
            var xhr = new XMLHttpRequest(); 

            let url = '/locs';
            xhr.open("GET", url, true);
        
            // function execute after request is successful 
            xhr.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(this.responseText);
                    var json_data = JSON.parse(this.responseText);
                    if(update_location){
                        if(locations.length == 0) {
                            map.setView([40.0073169265153, -105.26595493260885],10);
                        }
                        else {
                            map.setView(json_data[0].location, 15);
                            update_location = false;
                        }
                    }
                    json_data.forEach(element => {
                        var found = false;
                        locations.forEach(el => {
                            if(el.id == element.id){
                                found = true;
                            }
                        })
                        if(!found){
                            locations.push(element);
                            var circle = L.circle(element.location, {
                                color: 'red',
                                fillColor: '#f03',
                                fillOpacity: 0.5,
                                radius: 50
                            }).addTo(map);
                            var popupText = "<b>Name</b>:" + element.name + "<br/>";
                            popupText += "<b>Temperature</b>: " + element.temperature.toFixed(2) + " °C<br/>";
                            popupText += "<b>Humidity</b>: " + element.humidity.toFixed(2) + " %RH<br/>";
                            popupText += "<b>Pressure</b>: " + element.pressure.toFixed(2) + " hPa<br/>";
                            circle.bindPopup(popupText);
                        }
                    });
                }
            }
            // Sending our request 
            xhr.send();
        }

        function ready() {
            map = L.map('map');
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
            updateLocations();
            window.setInterval(updateLocations, 1000);
        }

        document.addEventListener("DOMContentLoaded", ready);
    </script>
</body>
